// COLOR PALETTE
$clr1: #fff;
$clr2: #172b4d;
$clr3: hsla(0, 0%, 100%, 0.5);
$clr4: hsla(0, 0%, 100%, 0.3);
$clr5: rgba(0, 0, 0, 0.32);
$clr6: rgba(0, 0, 0, 0.2);
$clr7: rgba(9, 30, 66, 0.04);
$clr8: #f4f5f7;
$clr9: #5e6c84;
$clr10: #dfe1e6;
$clr11: #172b4d;
$clr12: rgba(0,0,0,.64);


// LAYOUT BREAKPOINTS
$break-narrow-s: 500px;
$break-narrow: 620px;
$break-normal: 800px;
$break-wide: 1000px;
