
// COLOR PALETTE

// $clr1: hsla(0,0%,100%,.5);
// $clr2: hsla(0,0%,100%,.3);
// $clr3: #fff;
// $clr4: rgba(0,0,0,.32);

$clr-nav-item-hover: hsla(0,0%,100%,.5);
$clr-nav-item-bgc: hsla(0,0%,100%,.3);
$clr-nav-color1: #fff;
$clr-nav-color2: #172b4d;
$clr-nav-bgc: rgba(0,0,0,.32);

// LAYOUT BREAKPOINTS

$break-narrow-s: 500px;
$break-narrow: 620px;
$break-normal: 800px;
$break-wide: 1000px;