
// COLOR PALETTE

$clr-text-nav: #fff;
$clr-text: #172b4d;
$clr-nav-item-hover: hsla(0,0%,100%,.5);
$clr-nav-item-bgc: hsla(0,0%,100%,.3);
$clr-nav-bgc: rgba(0,0,0,.32);
$clr-scrollbar: rgba(0,0,0,.2);

// LAYOUT BREAKPOINTS

$break-narrow-s: 500px;
$break-narrow: 620px;
$break-normal: 800px;
$break-wide: 1000px;