.board-dashboard {
    padding-top: 60px;
    overflow-y: auto;
    //   background-color: #ffac81;
    //   width: 100vw;
    //   height: 100vh;
    .title {
        font-weight: bold;
        text-align: center;
        color: $clr2;
        background-color: $clr4;
        padding: 10px;
        margin: 0;
        border-radius: rem(3px);
        button {
            border: none;
            background-color: transparent;
            font-weight: bold;
            color: $clr2;
            font-size: rem(15px);
            transition: .3s;
            &:hover {
                color: $clr8;
            }
        }
    }
    .charts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 10px 0;
        .chart {
            background-color: $clr8;
            box-shadow: 0px 0px 9px 0px $clr6;
            padding: 10px;
            margin: 10px 0;
            width: 35%;
            border-radius: 3px;
        }
    }
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: $clr6;
    }
    &::-webkit-scrollbar-track-piece:start {
        margin-top: 42px;
    }
}

@media (max-width: $break-wide) {
    .board-dashboard {
        .charts {
            .chart {
                width: 40%;
            }
        }
    }
}

@media (max-width: $break-normal) {
    .board-dashboard {
        .charts {
            flex-direction: column;
            .chart {
                width: 75%;
                margin: 10px auto;
            }
        }
    }
}

@media (max-width: $break-narrow-s) {
    .board-dashboard {
        .charts {
            .chart {
                width: 90%;
            }
        }
    }
}