.home-page {
  padding: 40px;
  background-color: rgb(179, 203, 255);
  height: 100vh;
  overflow-y: auto;

  img {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    filter: grayscale(100%);
    filter: hue-rotate(170deg);
  }
  .search {
    background-color: $clr8;
    width: 194px;
    margin: 5px;
    padding: 0 5px;
    border-radius: 3px;
    border: none;

    input {
      background-color: $clr8;
      width: 155px;
      height: 25px;
      margin: 5px;
      padding-left: 5px;
      margin-left: 5px;
      border: none;
      outline: none;
    }
  }

  .board-preview {
    width: 194px;
    height: 96px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.15);

    &:hover {
      background-color: rgba(0, 0, 0, 0.35) !important;
    }

    button {
      border: none;
      background: transparent;
      color: white;
      font-weight: bold;
      font-size: 0.9375rem;
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $clr6;
  }
  &::-webkit-scrollbar-track-piece:start {
    margin-top: 42px;
  }
}

@media (max-width: $break-wide) {
  .home-page {
    img {
      max-width: 750px;
    }
  }
}

@media (max-width: $break-normal) {
  .home-page {
    padding-left: 30px;
    padding-right: 30px;

    img {
      max-width: 580px;
    }
  }
}

@media (max-width: $break-narrow) {
  .home-page {
    padding-left: 18px;
    padding-right: 18px;

    img {
      max-width: 420px;
    }

    .search {
    width: 150px;

    input {
      width: 115px;
      height: 20px;
    }
  }

  .board-preview {
    width: 150px;
    height: 80px;
  }
}
}

@media (max-width: $break-narrow-s) {
  .home-page {
    img {
      max-width: 320px;
    }
  }
}