.screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 900;
  top: 0;
  background-color: $clr12;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $clr5;
  }
  .task-details {
    position: absolute;
    z-index: 999;
    background-color: $clr8;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    padding: rem(20px);
    margin-top: rem(80px);
    margin-bottom: rem(60px);
    font-size: rem(14px);
    color: $clr2;
    width: 700px;
    .icon {
      margin-right: rem(10px);
      font-size: rem(20px);
    }
    .task-btn {
      border: none;
      border-radius: rem(3px);
      height: rem(30px);
      margin-bottom: rem(8px);
      color: $clr2;
      transition: 0.3s;
      background-color: $clr14;
      &:hover {
        background-color: $clr13;
      }
    }
    .header {
      .cover-container {
        display: flex;
        justify-content: center;
        .img-container {
          display: flex;
          justify-content: center;
          .cover-img {
            width: 50%;
          }
        }
        .cover-btn {
          width: rem(140px);
          position: absolute;
          right: 20px;
        }
      }
      .close-task {
        position: absolute;
        top: 0;
        right: 0;
        margin: rem(5px);
      }
    }
    .cover-container {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .cover-img {
        width: 50%;
      }
    }
    .details-container {
      display: flex;
      .task-data {
        margin: rem(20px);
        min-height: 100%;
        .task-name {
          display: flex;
          align-items: center;
          margin-bottom: rem(10px);
          h2 {
            margin: 0;
            font-weight: 500;
            cursor: pointer;
            font-size: rem(20px);
          }
        }
        .list-name {
          margin-left: rem(20px);
          color: $clr9;
          margin-bottom: rem(30px);
        }
        .task-completed {
          span {
            margin-left: 5px;
          }
        }
        .main-data {
          h4 {
            font-weight: 500;
            margin: 0;
            font-size: rem(16px);
          }
          .sub-titles {
            color: $clr9;
            margin-bottom: rem(5px);
            font-size: rem(12px);
            font-weight: 500;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            margin: 0;
          }
          .member-labels-date {
            display: flex;
            margin-bottom: rem(25px);
            padding-left: rem(20px);
            flex-wrap: wrap;
            .labels {
              display: flex;
              margin-right: rem(20px);
              max-width: 160px;
              flex-wrap: wrap;
              .label {
                min-width: rem(40px);
                height: rem(22px);
                display: inline-block;
                margin-left: rem(5px);
                margin-bottom: rem(5px);
                border-radius: rem(3px);
                text-align: center;
                .label-title {
                  font-size: rem(14px);
                  color: $clr1;
                  font-weight: bold;
                  padding: rem(5px);
                }
              }
            }
            .members-content {
              margin-right: rem(20px);
              .members {
                display: flex;
                .member,
                .member-img {
                  margin-top: rem(5px);
                }
              }
            }
          }
          .description-content {
            margin-bottom: rem(30px);
            .description-title {
              display: flex;
              align-items: center;
              margin-bottom: rem(10px);
            }
            .edit-description {
              display: flex;
              flex-direction: column;
              margin-left: rem(28px);
              .description {
                resize: none;
                margin-bottom: rem(10px);
                width: 330px;
                height: 100px;
              }
              .description-btns {
                button {
                  margin: rem(5px);
                }
              }
            }
            .description-txt {
              padding: rem(10px);
              border-radius: rem(3px);
              cursor: pointer;
              width: 330px;
              margin-left: rem(28px);
              transition: 0.3s;
              &:hover {
                background-color: $clr13;
              }
            }
          }
        }
        .activity-header {
          display: flex;
          justify-content: space-between;
          margin-bottom: rem(20px);
          .activity-title-content {
            display: flex;
            .activity-title {
              font-weight: 500;
              margin: 0;
              font-size: rem(16px);
            }
          }
          .show-btn {
            width: rem(100px);
            text-align: center;
          }
        }
      }
      .task-buttons {
        margin: rem(20px);
        min-height: 100%;
        margin-top: rem(50px);
        margin-left: rem(70px);
        h4 {
          font-weight: normal;
          text-transform: uppercase;
          margin: 0;
          margin-bottom: rem(10px);
        }
        .main-btn {
          width: rem(160px);
          text-align: left;
        }
        .cover-content {
          cursor: pointer;
          .cover-input {
            display: block;
            visibility: hidden;
            width: 0;
            height: 0;
          }
          .cover-btn {
            display: flex;
            align-items: center;
            width: rem(160px);
            text-align: left;
            .cover-icon {
              margin-right: rem(5px);
              margin-left: rem(5px);
            }
          }
        }
      }
    }
  }
}

@media (max-width: $break-narrow-l) {
  .screen {
    overflow-x: hidden;
    .task-details {
      width: 370px;
      left: 54%;
      margin-top: rem(40px);
      margin-bottom: rem(80px);
      .header {
        .cover-container {
          .img-container {
            .cover-img {
              width: 40%;
              height: 100%;
            }
          }
          .cover-btn {
            width: rem(80px);
            position: absolute;
            right: 20px;
            height: rem(40px);
            margin-right: rem(5px);
          }
        }
        .close-task {
          position: absolute;
          top: 0;
          right: 5%;
          margin: rem(5px);
        }
      }
      .details-container {
        flex-direction: column;
        .task-data {
          .main-data {
            .member-labels-date {
              .labels {
                max-width: 100px;
              }
            }
            .description-content {
              .edit-description {
                .description {
                  width: 200px;
                  height: 100px;
                  margin-left: rem(10px);
                }
              }
              .description-txt {
                width: 200px;
              }
            }
          }
        }
        .task-buttons {
          margin: rem(20px);
          margin-top: rem(40px);
        }
      }
    }
  }
}
