.task-details {
  position: absolute;
  background-color: #f4f5f7;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  z-index: 1;
  padding: rem(20px);
  margin-top: rem(80px);
  font-size: rem(14px);
  .header {
    .cover-container {
      .cover-img {
        width: 30%;
      }
    }
    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      margin: rem(5px);
      background: none;
      border: none;
    }
  }
  .details-container {
    display: flex;
    align-items: center;
    .task-data {
      margin: rem(20px);
      min-height: 100%;
      h2 {
        margin: 0;
        margin-bottom: rem(30px);
        font-weight: normal;
        cursor: pointer;
      }
      .main-data {
        padding-left: rem(20px);
        h4 {
          font-weight: normal;
          text-transform: uppercase;
          margin: 0;
          margin-bottom: rem(10px);
        }
        .labels {
          display: flex;
          .label {
            min-width: rem(40px);
            min-height: rem(30px);
            display: inline-block;
            margin-left: rem(5px);
            border-radius: rem(5px);
            text-align: center;
            .label-title {
              padding: rem(5px);
            }
          }
        }
        .members {
          margin-bottom: rem(30px);
          .member {
            width: rem(30px) !important;
            height: rem(30px) !important;
          }
        }
        .description-content {
          margin-bottom: rem(30px);
          .edit-description {
            display: flex;
            flex-direction: column;
            .description {
              resize: none;
              margin-bottom: rem(10px);
            }
            .description-btns {
              button {
                margin: rem(5px);
              }
            }
          }
          .description-txt {
            background-color: rgb(204, 201, 201);
            padding: rem(10px);
            cursor: pointer;
          }
        }
        .created-at {
          margin-bottom: rem(20px);
        }
        .due-date {
          margin-bottom: rem(20px);
        }
      }
      .created-at {
        margin-bottom: rem(20px);
      }
      .due-date {
        margin-bottom: rem(20px);
      }
    }
    .task-buttons {
      margin: rem(20px);
      min-height: 100%;
      h4 {
        font-weight: normal;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: rem(10px);
      }
      .main-btn {
        border: none;
        border-radius: rem(3px);
        height: rem(30px);
        margin-bottom: rem(8px);
        width: rem(160px);
        text-align: left;
      }
    }
  }
}
