.user-auth {
    color: $clr2;
    background-color: #FFAC81;
    height: 100vh;
    display: flex;
    justify-content: center;
    .login,
    .signup {
        margin-top: 130px;
        padding: rem(10px);
        background-color: $clr4;
        width: rem(400px);
        height: rem(350px);
        text-align: center;
        border-radius: rem(3px);
        box-shadow: 0px 0px 9px 0px $clr6;
        form {
            position: relative;
            input {
                background-color: $clr8;
                width: 70%;
                height: 40px;
                padding-left: 5px;
                border: none;
                outline-color: $clr9;
                border-radius: 3px;
                border: 1px solid $clr9;
                margin: rem(4px);
            }
            .msg {
                position: absolute;
                top: 180px;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
            }
        }
        button.not-member {
            border: none;
            background-color: transparent;
            margin-top: rem(90px);
            padding: rem(5px);
            transition: .3s;
            span {
                text-decoration: underline;
            }
            &:hover {
                background-color: $clr4;
                border-radius: rem(3px);
            }
        }
    }
}

@media (max-width: $break-narrow-s) {
    .user-auth {
        .login,
        .signup {
            width: 300px;
        }
    }
}