// SETUP
@import 'setup/typography';
@import 'setup/variables';
@import 'setup/mixins';
@import 'setup/functions';

// BASICS
@import 'basics/base.scss';
@import 'basics/layout.scss';

// COMPONENTS
@import 'cmps/main-nav.scss';
@import 'cmps/board-nav.scss';
@import 'cmps/tasklist-list';
@import 'cmps/task-list-preview';