.main-activitylog {
    position: fixed;
    z-index: 10;
    right: 0;
    top: 40px;
    height: calc(100% - 40px);
    background-color: $clr8;
    width: 340px;
    box-shadow: 0 12px 24px -6px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
    overflow-y: auto;
    font-size: rem(14px);
    color: $clr2;
    padding: 0 15px;

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: $clr6;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 5px 0;
        margin: 5px 0;
        height: 60px;
    
        .close-activitylog {
            margin-right: rem(10px);
            background: none;
            border: none;
        }
        .activity-title {
            font-weight: bold;
            font-size: 1.1rem;
    
            span {
                margin-left: rem(8px);
            }
        }
    }

}


.activities {
    list-style-type: none;
    padding: 0;
    margin-left: rem(5px);
    .activity {
        display: flex;
        margin-bottom: rem(10px);
        .username {
            font-weight: bold;
        }
        .due-date {
            font-size: rem(12px);
            color: $clr9;
        }
        .avatar,
        .member-img {
            background-color: $clr10!important;
            color: $clr11!important;
            width: 32px!important;
            height: 32px!important;
            margin-right: rem(10px);
        }
    }
}

.slide-enter-active, .slide-leave-active {
  transition: width .5s;
}
.slide-enter, .slide-leave-to {
  width: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}