.board-nav {
    display: flex;
    position: fixed;
    z-index: 10;
    top: 40px;
    justify-content: space-between;
    align-items: center;
    height: rem(40px);
    width: 100%;
    background: transparent;
    color: $clr-nav-color2;

    .board-name {
        font-weight: bold;
        font-size: rem(16px);
    }

    input {
        font-weight: bold;
        font-size: rem(15px);
        width: rem(100px);
        text-align: center;
        height: 23px;
        color: $clr-nav-color2;
    }

    ul {
        list-style-position: inside;
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            border-radius: rem(3px);
            padding: rem(4px) rem(8px);
            cursor: default;

            &:hover {
                background-color: $clr-nav-item-hover;
            }
        }

        .member {
            padding: 0 rem(6px);
            &:hover {
                background-color: transparent;
            }
        }


    }
    button {
        border: none;
        border-radius: rem(3px);
        padding: rem(4px) rem(8px);
        margin: 0 rem(3px);
        background-color: $clr-nav-item-bgc;
        color: $clr-nav-color2;
        cursor: pointer;
        font-size: rem(15px);

        &:hover {
            background-color: $clr-nav-item-hover;
        }

    }

}