.checklist-details {
  margin-bottom: rem(30px);

  .checklist-header {
    display: flex;
    justify-content: space-between;
    padding: rem(8px) 0;
    margin-bottom: rem(4px);

    .checklist-name {
      margin: rem(6px);
      text-transform: none;
    }

    .remove-checklist-btn {
      background-color: $clr7;
      border: none;
      border-radius: 3px;
      padding: rem(6px) rem(12px);
    }
  }

  .el-progress {
    padding-bottom: rem(5px);
  }

  .add-item {
    border-radius: 3px;
    padding: rem(6px) rem(12px);
    margin-bottom: rem(8px);
    display: inline-block;
    width: 110px;
  }
}
