.color-picker-small {
  display: flex;
  flex-wrap: wrap;
  width: rem(132px);
  background-color: $clr6;
  padding: 5px;

    .color {
        width: rem(18px);
        height: rem(18px);
        border-radius: 100%;
        margin: rem(1px);
        box-sizing: border-box;
        cursor: pointer;
    }

  .active {
        border: rem(2px) solid black;
    }
}


.color-picker-medium {
  display: flex;
  flex-wrap: wrap;
  width: rem(160px);
  background-color: $clr6;
  padding: rem(12px);
  position: absolute;
  border-radius: rem(3px);

    .color {
        width: rem(30px);
        height: rem(30px);
        border-radius: 100%;
        margin: rem(2px);
        box-sizing: border-box;
        cursor: pointer;
    }

  .active {
        border: rem(2px) solid black;
    }

}


.color-picker-large {

  .options {
    display: flex;
    justify-content: space-evenly;

    .option {
      width: 45%;
      cursor: pointer;
      text-align: center;

      .img {
        border-radius: 8px;
        height: 96px;
        width: 100%;
        background-size: cover;
      }

      .photos-img {
        background-image: url(https://a.trellocdn.com/prgb/dist/images/photos-thumbnail@3x.48948499e309aef794d7.jpg);
      }

      .colors-img {
        background-image: url(https://a.trellocdn.com/prgb/dist/images/colors@2x.864f4df15d825e89e199.jpg);
      }
    }
  }

  .options-bgc {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    cursor: pointer;

    .bgc {
      border-radius: 8px;
      height: 96px;
      width: 47%;
      background-size: cover;
      margin: 3px 0;
    }
  }
}