.label-picker {
  position: absolute;
  background-color: $clr1;
  left: 80%;
  transform: translate(-50%, 0%);
  z-index: 1;
  padding: rem(20px);
  border-radius: 3px;

  h2 {
    text-align: center;
    margin-bottom: rem(20px);
    font-weight: normal;
    font-size: rem(16px);
  }

  .close-btn {
    position: absolute;
    right: 0;
    margin: rem(5px);
    background: none;
    border: none;
  }

  .label-content {
    display: flex;
    justify-content: space-between;

    .label {
      display: inline-block;
      width: rem(200px);
      height: rem(25px);
      padding: rem(15px);
      border-radius: rem(3px);
      margin-right: rem(7px);
      margin-bottom: rem(10px);
      cursor: pointer;
      color: $clr1;
      display: flex;

      .label-title {
        align-self: center;
      }

      .check-title {
        align-self: center;
        margin-left: auto;
      }
    }

    .add-title-btn {
      margin-bottom: rem(10px);
      border: none;
      background-color: transparent;
    }
  }

  .title-form {
    padding: rem(20px);
  }
}
