.label-picker {
    position: absolute;
    background-color: $clr-text-nav;
    left: 100%;
    top: 0;
    transform: translate(-50%, 0%);
    z-index: 1;
    padding: rem(20px);
    h2 {
        margin: 0;
        margin-bottom: rem(20px);
    }
    .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: rem(5px);
        background: none;
        border: none;
    }
    .label-content {
        display: flex;
        justify-content: space-between;
        .label {
            min-width: rem(200px);
            min-height: rem(20px);
            display: inline-block;
            border-radius: rem(5px);
            margin-right: rem(15px);
            margin-bottom: rem(10px);
            .label-title {
                overflow-wrap: normal;
            }
        }
        button {
            margin-bottom: rem(10px);
        }
    }
}