.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(40px);
    width: 100%;
    background-color: $clr-nav-bgc;
    color: $clr-nav-color1;

    .logo {
        font-weight: bold;
    }

    ul {
        list-style: none;
        display: flex;

        li {
            cursor: pointer;
            border-radius: rem(3px);
            background-color: $clr-nav-item-bgc;
            padding: rem(4px) rem(8px);
            margin: 0 4px;

            &:hover {
                background-color: $clr-nav-item-hover;
            }
        }
    }
}