.member-picker {
  position: absolute;
  background-color: $clr1;
  left: 80%;
  transform: translate(-50%, 0%);
  z-index: 1;
  padding: rem(20px);
  min-width: 300px;
  border-radius: 3px;
  box-shadow: 0 0.0625rem 0 rgba(9, 30, 66, 0.25);

  header {
    border-bottom: 1px solid rgba(9, 30, 66, 0.13);
    margin: rem(20px);
    margin-top: 0;

    h2 {
      text-align: center;
      margin: 0;
      font-weight: normal;
      font-size: rem(16px);
      padding-bottom: rem(10px);
    }

    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      margin: rem(5px);
    }
  }

  .board-member-title {
    text-transform: uppercase;
    font-weight: normal;
    font-size: rem(12px);
    color: $clr9;
    letter-spacing: 0.04em;
  }

  .members {
    list-style-type: none;
    padding: 0;

    .member-content {
      display: flex;
      align-items: center;
      cursor: pointer;

      .member,
      .member-img {
        margin-right: rem(10px);
        margin-bottom: rem(5px);
      }
    }
  }
}
