.sidenav {
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #E8E8E8;
  overflow-x: hidden;
  display: inline-block;

  .sidebar-el:first-child {
    margin-bottom: 40px;
  }

  .sidebar-el {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    text-decoration: none;
    color: #818181;
    display: block;

    :hover {
      color: #fffafa;
    }
  }

  .sidebar-el > .stay-in-sample-place {
    position: absolute;
  }

  .stay-in-sample-place {
    width: 60px;
    left: 0px;
  }

  .sidenav-text {
    margin-left: 80px;
    width: 100px;
  }

  .sidebar-toggle {
    color: white;
    background-color: #2c303b;
  }
}

.full {
  width: 200px !important;
}

.main {
  margin-left: 60px; /* Same as the width of the sidenav */
  padding: 0px;
}