.tasklist-list {
    height: 100vh;
    padding-top: 90px;
    .tasklist-preview {
        color: $clr2;
        max-height: 100%;
        background-color: $clr4;
        border-radius: rem(3px);
        width: rem(275px);
        margin: 0 rem(4px);
        padding: rem(8px) rem(4px) rem(8px) rem(7px);
        position: relative;
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: rem(4px);
            padding-top: 0;
            height: rem(40px);
            h4 {
                margin: 0;
            }
            button.settings-btn {
                color: $clr2;
                height: rem(30px);
                width: rem(30px);
                padding: rem(6px);
                padding-top: rem(4px);
                border: none;
                background-color: transparent;
                transition: .3s;
                &:hover {
                    background-color: $clr3;
                    border-radius: rem(3px);
                }
            }
        }
        main {
            max-height: calc(100vh - 215px);
            overflow-y: auto;
            margin-bottom: rem(8px);
            &::-webkit-scrollbar {
                width: rem(8px);
            }
            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background: $clr3;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: rem(10px);
                background: $clr6;
            }
        }
        main.shorter {
            max-height: calc(100vh - 270px);
        }
        main.mobile-mode {
            max-height: calc(100vh - 310px);
            &::-webkit-scrollbar {
                width: rem(12px);
            }
        }
        footer {
            padding: 6px 0 8px;
            margin-right: 4px;
            .hover-class {
                &:hover {
                    background-color: $clr3;
                }
            }
        }
    }
    .hover-class {
        &:hover {
            background-color: $clr3;
        }
    }
    .newListBgc {
        background-color: rgb(235, 236, 240);
        transition: .3s;
        &:hover {
            background-color: rgb(235, 236, 240);
        }
    }
}