.tasklist-list {
    height: 100vh;
    padding-top: 100px;


    .tasklist-preview {
        color: $clr2;
        max-height: 100%;
        background-color: $clr4;
        border-radius: rem(3px);
        width: rem(275px);
        margin: 0 rem(4px);
        padding: rem(8px) rem(4px) rem(8px) rem(7px);
        // padding-left: rem(7px);
        // padding-right: rem(4px);
        position: relative;

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: rem(4px);
            padding-top: 0;
            height: rem(40px);

            h4 {
                margin: 0;
            }

            button.settings-btn {
                color: $clr2;
                height: rem(30px);
                width: rem(30px);
                padding: rem(6px);
                padding-top: rem(4px);
                border: none;
                background-color: transparent;

                &:hover {
                    background-color: $clr3;
                    border-radius: rem(3px);
                }
            }
        }

        main {
            max-height: calc(100vh - 225px);
            overflow-y: auto;
            margin-bottom: rem(8px);
            &::-webkit-scrollbar {
                width: rem(8px);
            }
            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background: $clr3; 
            }
            &::-webkit-scrollbar-thumb {
                border-radius: rem(10px);
                background: $clr6; 
            }

        }
    }
}

// .tasklist-preview-placeholder {
//     background-color: $clr3;
//     border-radius: rem(3px);
//     margin: rem(4px);
//     padding: 0;
//     // max-height: 400px;
// }