.tasklist-list {
    height: calc(100vh - 140px);

    .tasklist {
        width: rem(275px);
        margin: 0 rem(4px);
        padding: rem(1px) rem(8px) rem(8px) rem(8px);
        max-height: 100%;
        border-radius: rem(3px);
        white-space: wrap;
        background-color: $clr-nav-item-bgc;
    }
    
}