.tasklist-preview {
    color: $clr-nav-color2;
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(4px);
        height: rem(40px);
    }

    main {
        max-height: rem(430px);
        overflow-y: scroll;
        margin-bottom: rem(8px);
        &::-webkit-scrollbar {
            width: rem(8px);
        }
        &::-webkit-scrollbar-track {
            background: $clr-nav-item-hover; 
        }
        &::-webkit-scrollbar-thumb {
            border-radius: rem(10px);
            background: $clr-scrollbar; 
        }

    }
}

.task-preview {
    background-color: $clr-nav-color1;
    border-radius: rem(3px);
    min-height: rem(20px);
    box-shadow: 0 rem(1px) 0 rgba(9,30,66,.25);
    text-decoration: none;
    margin: 0 rem(4px) rem(8px) rem(1px);
    padding: rem(4px);
    cursor: pointer;
}