.user-profile {
  position: absolute;
  right: -172px;
  top: 43px;
  transform: translate(-50%, 0%);
  z-index: 1;
  background-color: $clr8;
  border-radius: 3px;
  box-shadow: 0 0.0625rem 0 rgba(9, 30, 66, 0.25);
  padding: rem(20px);
  min-width: 300px;
  color: $clr2;
  font-size: rem(14px);
  header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: rem(20px);
    margin-top: 0;
    min-width: 300px;
    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      margin: rem(10px);
      margin-right: rem(20px);
    }
    div {
      text-align: center;
      margin: 0;
      padding-bottom: rem(10px);
      font-weight: bold;
      font-size: 1.1rem;
      span {
        font-weight: bold;
      }
    }
  }
  main {
    display: flex;
    flex-direction: column;
    button {
      text-align: left;
      padding: rem(5px) rem(10px);
      border: none;
      background-color: transparent;
      transition: 0.3s;
      &:hover {
        background-color: $clr6;
        border-radius: rem(1px);
      }
    }
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: rem(25px);
    .member {
      width: 90px !important;
      height: 90px !important;
      font-size: rem(45px) !important;
    }
    .member-img {
      width: 110px;
      height: 110px;
    }
    label {
      cursor: pointer;
    }
    .img-input {
      display: block;
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }
  .user-name {
    margin-top: rem(30px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      cursor: context-menu;
    }
    input {
      width: 70%;
      height: 40px;
      border: 1px solid $clr9;
      background: $clr1;
      margin: rem(4px);
    }
  }
  .active {
    background-color: $clr6;
    border-radius: rem(1px);
  }
}

.activity-container {
  overflow-y: auto;
  height: 250px;
  max-width: 300px;
  margin: rem(10px);
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $clr6;
  }
  .activities {
    flex-direction: column;
  }
  .msg {
    margin: rem(20px);
  }
}

@media (max-width: $break-narrow-s) {
    .user-profile {
      min-width: 240px;
      right: -140px;
      top: 43px;
      transform: translate(-50%, 0%);

      header {
        min-width: 240px;
      }
    }
}