// Aspect ratios
.ratio-16-9 {
    @include aspect-ratio(100, 56);
}

.ratio-square {
    @include aspect-ratio(100, 100);
}

.ratio-card {
    @include aspect-ratio(100, 80);
}

.ratio-poster {
    @include aspect-ratio(100, 150);
}

.member {
    padding: 0 rem(6px);
    width: 32px !important;
    height: 32px!important;
    font-size: rem(14px) !important;
    background-color: $clr10 !important;
    color: $clr2 !important;
    margin-left: rem(5px);
}

.member-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.new-add-btn {
    margin-right: rem(5px);
    color: $clr9;
    border: none;
    background-color: transparent;
}

.add-btn {
    background-color: $clr9;
    color: $clr1;
    border: none;
    margin: 8px 4px 0 0;
    padding: 6px 12px;
    line-height: 20px;
    border-radius: 3px;
    font-weight: 500;
    &:hover {
        background-color: $clr12;
    }
}

input.board {
    background-color: $clr8;
    width: 95%;
    height: 35px;
    padding-left: 5px;
    border: none;
    outline-color: $clr9;
    border-radius: 3px;
}

input.task {
    background-color: $clr7;
    border: none;
    border-color: rgba(9, 30, 66, 0.13);
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(9, 30, 66, 0.13);
    margin-bottom: rem(4px);
    padding: rem(8px) rem(12px);
    outline-color: $clr9;
}

.close-btn {
    border: none;
    background-color: transparent;
    color: $clr9;
    font-size: rem(20px);
    height: 34px;
    display: inline-block;
    &:hover {
        color: $clr12;
    }
}

.add-control-btns {
    display: flex;
    align-items: flex-end;
}